<!DOCTYPE html>
<html ng-app="storylines">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <editor></editor>
    <state-monitor></state-monitor>
  </body>
</html>
