<!DOCTYPE html>
<html ng-app="storylines">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="root">
      <editor></editor>
      <state></state>
    </div>
  </body>
</html>
